Pong not implemented

[Section 5.5.2 of RFC 6455](http://tools.ietf.org/html/rfc6455#section-5.5.2):

```
Upon receipt of a Ping frame, an endpoint MUST send a Pong frame in
response, unless it already received a Close frame.  It SHOULD
respond with Pong frame as soon as is practical.  Pong frames are
discussed in Section 5.5.3.
```

Looks to me like this needs to go at the end of the `service` function in websockets.R.
